<div id="howitworks">
    <h2>How it Works:</h2>
    <hr>
    <ul>
      <li>Log in or sign up.</li>
      <li>If signing up, a link will be sent to your email to activate your account.</li>
      <li>Click "Book Session", which will take you to Google calendar.</li>
      <li>Pick a time slot.</li>
      <li>If it's last minute, just call or text me @ (214) 686-7245.</li>
      <li>I come to your home.</li>
      <li>We study hard.</li>
      <br>
      <hr>
      <li>Sessions are 55 minutes long.</li>
      <li>There is a $20 fee for cancellations or rescheduling of sessions within 12 hours of the originally booked session.</li>
      <li>My schedule subject to change.</li>
    </ul>
  </div>